<a href="https://colab.research.google.com/github/dodch0317/colab/blob/main/lesson_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("난생 처름 파이썬을")

난생 처름 파이썬을

In [2]:
print("열심히 공부 중입니다~")

열심히 공부 중입니다~

In [3]:
print("이젠 저도 파이썬 프로그래머입니다. ^^")

이젠 저도 파이썬 프로그래머입니다. ^^

In [6]:
print("내일은 즐거운 졸업여행")
print("준비물 잘 챙기고")
print("다치지 말고 잘 놀다오자")

내일은 즐거운 졸업여행
준비물 잘 챙기고
다치지 말고 잘 놀다오자

변수 사용 예

In [11]:
a = 100 
b = 200 
c = a + b
result = a + b
print(a, "+", b, "=", c)

100 + 200 = 300

In [17]:
num1 = 100
num2 = 200
result = num1 * num2
print(num1, "*", num2, '=', result)

100 * 200 = 20000

In [18]:
num1 = 100
num2 = 200
result = num1 - num2
print(num1, "-", num2, '=', result)

100 - 200 = -100

In [12]:
num1 = 100
num2 = 200
result = num1 // num2 
print(num1, "//", num2, "=", result)

100 // 200 = 0

In [15]:
num1 = 100
num2 = 200
result = num1 % num2 
print(num1, "%", num2, "=", result)

100 % 200 = 100

In [14]:
num1 = 100
num2 = 20
result = num1 ** num2 
print(num1, "**", num2, "=", result)

100 ** 20 = 10000000000000000000000000000000000000000

In [20]:
num1 = 100
num2 = 200
result = num1 ^ num2 
print(num1, "^", num2, "=", result)

100 ^ 200 = 172